/* @media screen and (min-width: 50em) { */
@container cardWrapper (min-width: 50em) {
    .card {
        flex-direction: row;
    }

    .card_header img {
        max-height: initial;
    }
}

/* @media screen and (min-width: 60em) { */
@container main (min-width: 60em) {
    .cards_container {
        flex-direction: row;
    }

    .card_wrapper {
        flex-grow: 1;
    }
}